<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodeTiny 블로그</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      <div>
        <div class="sidebar-header">
          <h2>CodeTiny</h2>
        </div>
        <nav class="sidebar-nav">
          <a href="#">🏠 Home</a>
          <a href="#">📂 Archive</a>
          <a href="#">📄 About</a>
          <a href="#">🔍 Search</a>
        </nav>
      </div>
      <div class="sidebar-profile">
        <img src="../public/profile.jpeg" alt="Profile Image" class="profile-img" />
      </div>
    </aside>
    <main class="content">
      <button id="theme-toggle" class="theme-toggle">🌙/☀️</button>
      <h1 style="text-align: center; margin-top: 2rem;">CodeTiny 블로그 ✍️</h1>
      <section class="post-list">
        {{posts}}
      </section>
    </main>
  </div>
  <script src="../public/toggle.js"></script>
</body>
</html>